{% extends 'layouts/base.html' %}

{% block content %}

<div class="container py-5">
<h1>About</h1>
<p>SGMAQ es una empresa con más de 10 años de trayectoria representando a los principales fabricantes y marcas internacionales expertos en la fabricación de soluciones de lavado de vehículos livianos y pesados, soluciones de lavado de módulos fotovoltaicos para la generación de energía solar en Utility Scale y soluciones para talleres en Electromovilidad, atendiendo desde el origen de la solución hasta la postventa de nuestras implementaciones en industrias: Automotriz, Minería, Energía Renovable y Electromovilidad.</p>

<h2>Ventajas</h2>
<p>Nuestras soluciones poseen ventajas 100% orientadas al negocio, con el fin de que nuestros clientes tengan la más alta eficiencia operacional, junto con la reducción y optimización de presupuestos.</p>

<p>Website created by SGMAQ</p>

</div>

{% endblock %}