{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<main class="container py-5">
    <div class="hero d-flex flex-column justify-content-center align-items-center">
        <h1>Optimiza la gestión de limpieza de coches</h1>
        <p>Tu software de gestión de limpieza de coches te permite...</p>
        <ul>
          <li>Tener una visión general completa del proceso de limpieza de todos tus vehículos.</li>
          <li>Acceder a un historial detallado de todas las tareas de limpieza realizadas.</li>
          <li>Realizar un seguimiento preciso del progreso de cada tarea en tiempo real.</li>
          <li>Gestionar de forma eficiente las incidencias que puedan surgir durante el proceso de limpieza.</li>
          <li>Generar informes personalizados sobre el rendimiento de tu equipo de limpieza.</li>
        </ul>
      </div>
    
      <div class="container">
        <div class="section row">
          <div class="col-md-6">
            <h2>¿Qué puedes hacer con la aplicación?</h2>
            <p>Con nuestra aplicación puedes:</p>
            <ul>
              <li>Visualizar en tiempo real el estado de todos tus coches en proceso de limpieza (en vuelo, entregados o rechazados).</li>
              <li>Consultar el historial completo de cada coche, incluyendo las fechas de limpieza, los técnicos responsables y cualquier comentario o nota relevante.</li>
              <li>Recibir notificaciones cuando se complete una tarea o cuando se produzca una incidencia.</li>
              <li>Identificar las causas de los rechazos de los clientes y tomar medidas correctivas para evitar su repetición.</li>
              <li>Generar informes personalizados para analizar el rendimiento de tu equipo de limpieza y tomar decisiones estratégicas.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h2>Mejora la eficiencia, reduce costes y aumenta la satisfacción del cliente.</h2>
            <p>Saca el máximo partido de tu software de gestión de limpieza de coches y experimenta las siguientes ventajas:</p>
            <ul>
              <li>Optimiza el tiempo y los recursos de tu equipo de limpieza.</li>
              <li>Reduce los costes operativos y mejora la rentabilidad de tu negocio.</li>
              <li>Aumenta la satisfacción de tus clientes con un servicio de limpieza rápido y de calidad.</li>
              <li>Mejora la imagen y la reputación de tu empresa.</li>
            </ul>
          </div>
        </div>
      </div>
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OM"></script>
</main>

{% endblock %}